h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}